<h1>Admin Page</h1>

<h3>Search Menu</h3>
<%= form_for @search, :url => url_for(:controller => 'admin/send_emails', :action => 'index') do |f| %>

  <div class="well">
     <div class="row">

        <div class="col-xs-6">
            <div class="row">
               <div class="col-xs-4">First Name</div>
               <div class="col-xs-4"><%= f.text_field :first_name %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">Last Name</div>
               <div class="col-xs-4"><%= f.text_field :last_name %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">Email Address</div>
               <div class="col-xs-4"><%= f.text_field :email_address %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">The song you're currently jamming to on repeat</div>
               <div class="col-xs-4"><%= f.text_field :song_currently_jamming_to %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">No. 1 Favorite Band</div>
               <div class="col-xs-4"><%= f.text_field :favorite_band_first %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">No. 2 Favorite Band</div>
               <div class="col-xs-4"><%= f.text_field :favorite_band_second %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">Favorite Genre (what does that even mean?</div>
               <div class="col-xs-4"><%= f.text_field :favorite_genre %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">City</div>
               <div class="col-xs-4"><%= f.text_field :city %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">State</div>
               <div class="col-xs-4"><%= f.text_field :state %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">What do you like to do for fun?</div>
               <div class="col-xs-4"><%= f.text_field :fun_activity %></div>
            </div>
            <div class="row">
               <div class="col-xs-4">I listen to music the most when I am...</div>
               <div class="col-xs-4"><%= f.text_field :listen_to_music_most_when %></div>
            </div>

            <div class="row">
               <div class="col-xs-4"><%= f.submit "Search" %></div>
            </div>
         </div>
         <% end %>

         <!-- Form for sending emails -->
         <div class="col-xs-6">
            <%= form_for SendEmail.new, :url => url_for(:controller => 'admin/send_emails', :action => 'send_it') do |f| %>
               <div class="container">
                  <div class="row">
                     <div class="col-xs-2">Song</div>
                     <div class="col-xs-4"><%= f.text_field :artist %></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-2">Artist</div>
                     <div class="col-xs-4"><%= f.text_field :song %></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-2">Link</div>
                     <div class="col-xs-4"><%= f.text_field :link %></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-2">Optional Note</div>
                     <div class="col-xs-4"><%= f.text_area :note, size: "20x2" %></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-2"><%= f.hidden_field :to, :value => @music_people.map { |music_person| music_person.id } %></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-4 col-xs-offset-2"><%= f.submit "Send to all on page" %></div>
                  </div>
               </div>
            <% end %>
         </div>

      </div>

   </div>

<br />

<h3>Results</h3>
<% @music_people.each do |music_person| %>

      <div class="well">
         <div class="row">
            <div class="col-xs-6">
               <div class="row">
                  <div class="col-xs-2">Name</div>
                  <div class="col-xs-4"><%= "#{music_person.first_name} #{music_person.last_name}" %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">Fav. Bands</div>
                  <div class="col-xs-4"><%= "#{music_person.favorite_band_first} - #{music_person.favorite_band_second}" %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">Fav. Song</div>
                  <div class="col-xs-4"><%= music_person.song_currently_jamming_to %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">Fav. Genre</div>
                  <div class="col-xs-4"><%= music_person.favorite_genre %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">City, State</div>
                  <div class="col-xs-4"><%= "#{music_person.city}, #{music_person.state}" %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">Fav. Activity</div>
                  <div class="col-xs-4"><%= music_person.fun_activity %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">When Listen</div>
                  <div class="col-xs-4"><%= music_person.listen_to_music_most_when %></div>
               </div>
               <div class="row">
                  <div class="col-xs-2">Last Song Sent</div>
                  <div class="col-xs-4"><%= music_person.last_song_sent %></div>
               </div>
            </div>

            <!-- Form for sending emails -->
            <div class="col-xs-6">
               <%= form_for @send_email, :url => url_for(:controller => 'admin/send_emails', :action => 'send_it') do |f| %>
                  <div class="container">
                     <div class="row">
                        <div class="col-xs-2">Song</div>
                        <div class="col-xs-4"><%= f.text_field :artist %></div>
                     </div>
                     <div class="row">
                        <div class="col-xs-2">Artist</div>
                        <div class="col-xs-4"><%= f.text_field :song %></div>
                     </div>
                     <div class="row">
                        <div class="col-xs-2">Link</div>
                        <div class="col-xs-4"><%= f.text_field :link %></div>
                     </div>
                     <div class="row">
                        <div class="col-xs-2">Optional Note</div>
                        <div class="col-xs-4"><%= f.text_area :note, size: "20x2" %></div>
                     </div>
                     <div class="row">
                        <div class="col-xs-2"><%= f.hidden_field :to, :value => "[#{music_person.id}]" %></div>
                     </div>
                     <div class="row">
                        <div class="col-xs-4 col-xs-offset-2"><%= f.submit "Send to this one person" %></div>
                     </div>
                  </div>
               <% end %>
            </div>

         </div>
      </div>


<% end %>
