<div class="banner">

</div>

<div class="row">
   <div class="col-xs-12"><h1 class="text-center">The gist, yo.</h1></div>
</div>

<br />

<div class="row">
   <div class="col-xs-8 col-xs-offset-2"><h2 class="text-center">A song based on your musical preferences delivered to your inbox every day.</h1></div>
</div>

<br />

<div class="row">
   <div class="col-xs-8 col-xs-offset-2"><p class="text-center">No fancy algorithms (yet), no automation (yet). I will personally send you a song I think you'll like every day, entirely determined by your musical preferences indicated below and my own musical opinion. I'm not an expert, I just listen to a lot of music, and people seem to trust me. Each song will come as a surprise, probably not at the same time every day. Because I am human, not a robot (yet).</p></div>
</div>

<br />

<div class="row">
   <div class="col-xs-8 col-xs-offset-2"><p class="text-center">Wait listed: Due to the overwhelming and awe-inspiring response, all new members will be placed on a wait list for a very short time as we build the best possible -- but still curated -- experience for you. My promise of a song a day to all current members will be upheld.  - Shannon</p></div>
</div>

<br />



<%= form_for @music_person do |f| %>
   <div class="container">
      <div class="row">
         <div class="col-xs-4">First Name</div>
         <div class="col-xs-4"><%= f.text_field :first_name %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">Last Name</div>
         <div class="col-xs-4"><%= f.text_field :last_name %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">Email Address</div>
         <div class="col-xs-4"><%= f.text_field :email_address %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">The song you're currently jamming to on repeat</div>
         <div class="col-xs-4"><%= f.text_field :song_currently_jamming_to %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">No. 1 Favorite Band</div>
         <div class="col-xs-4"><%= f.text_field :favorite_band_first %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">No. 2 Favorite Band</div>
         <div class="col-xs-4"><%= f.text_field :favorite_band_second %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">Favorite Genre (what does that even mean?</div>
         <div class="col-xs-4"><%= f.text_field :favorite_genre %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">City</div>
         <div class="col-xs-4"><%= f.text_field :city %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">State</div>
         <div class="col-xs-4"><%= f.text_field :state %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">What do you like to do for fun?</div>
         <div class="col-xs-4"><%= f.text_field :fun_activity %></div>
      </div>
      <div class="row">
         <div class="col-xs-4">I listen to music the most when I am...</div>
         <div class="col-xs-4"><%= f.text_field :listen_to_music_most_when %></div>
      </div>
      <div class="row">
         <div class="col-xs-4"><%= f.hidden_field :last_song_sent %></div>
         <div class="col-xs-4"><%= hidden_field_tag DateTime.current, 'none'  %></div>
      </div>

      <div class="row">
         <div class="col-xs-4"><%= f.submit "Submit" %></div>
      </div>
   </div>
<% end %>


<div class="row">
   <div class="col-xs-8 col-xs-offset-2"><p class="text-center">I'll do my very best not to judge your musical preferences, but can't make any promises.</p></div>
</div>

<br />

<div class="row">
   <div class="col-xs-8 col-xs-offset-2"><p class="text-center">"Built" by this girl, kind of sort of out of demand...but mostly because a lot of people seem to be lacking resources for music discovery, despite the multitude out there. They might just be lazy, I'm ok with that.</p></div>
</div>

<br />
